---
import { Image } from "astro:assets";

interface Props {
    description: string;
    imgSrc: ImageMetadata;
    name: string;
    role: string;
}

const imgSize = 200;
const imgSizeCss = `${imgSize}px`;
const { description, imgSrc, name, role } = Astro.props;
---

<div class="bio">
    <Image src={imgSrc} alt={name} width={imgSize} height={imgSize} />
    <div class="content">
        <h4>{name}</h4>
        <div class="role">{role}</div>
        <p>{description}</p>
    </div>
</div>

<style define:vars={{ imgSizeCss }}>
    img {
        border-radius: 50%;
        flex-shrink: 0;
        height: var(--imgSizeCss);
        object-fit: cover;
        object-position: center;
        width: var(--imgSizeCss);
        box-shadow: 0px 2px 5px var(--color-primary-dark);
        margin-right: 2rem;
    }
    .bio {
        display: flex;
        align-items: center;
        margin: 2rem;
    }
    h4 {
        color: var(--color-primary-dark);
        font-size: 2.2rem;
		font-family: var(--font-header);
        letter-spacing: 3px;
    }
    .role {
        color: rgba(var(--color-primary-dark-rgb), 0.7);
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    p {
        max-width: min(calc(100vw-4rem), 30rem);
    }
    @media only screen and (max-width: 600px) {
		.bio {
			flex-direction: column;
            margin: 2rem 0;
            text-align: center;
		}
        img {
            margin: 0 0 1rem;
        }
	}
</style>
